*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
 
    /* background-image: url("images/background.jpg"); */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:lightsalmon;
 
}
.container{
    position: relative;
    height: 80vh;
    width: 70vw;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0  rgba( 0, 0, 0, 0.3) , 0px 6px 20px 0 rgba( 0, 0, 0, 0.3);
     
}
.container::before{
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(-45deg,#df4adf,#520852);
    z-index: 6;
    transform: translateX(100%);
    overflow: hidden;
    transition: 1s ease-in-out;
}

.signin-signup{  
position:  absolute;
top: 0;
left: 0;
height: 100%;
 width: 100%;
align-items: center;
justify-content: space-around;
 display: flex;
 z-index: 5;
}
 form{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     width: 40%;
     min-width: 238px;
     padding: 0 10px;
 }
 form.sign-in-form{
     opacity: 1;
     transition: 0.5s ease-in-out;
     transition-delay: 1s;
 }
 form.sign-up-form{
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}
.title{
  font-size: 35px;  
  color: #df4adf;
  margin-bottom: 10px;
}
.input-field{
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    margin: 10px 0;
    border: 2px solid #df4adf ;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.input-field i{
    flex: 1;
    text-align: center;
    font-size: 18px;
    color: #666;

}
.input-field input{
    flex: 5;
     background: none;
     border: none;
     width: 100%;
     outline: none;
     font-size: 18px;
     font-weight:600 ;
     color: #444;
}
.btn{
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 50px;
    color: #fff;
    background: #df4adf;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}
.btn:hover{
    background: burlywood;
    color:#df4adf;
}
.panels-container{
    display: flex;
    top: 0;
    left: 0;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.panel{
    z-index: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
}
.left-panel{
    pointer-events: none;
}
.content{
    color: #fff;
    transition: .4s ease-in-out;
    transition-delay: 0.5s;
}
.panel h3{
font-size: 24px;
font-weight: 600;
}
.image{
    width: 100%;
    
    transition: .5s ease-in-out;
    transition-delay: 0.4s;
}
.left-panel .image {
    transform: translateX(-200%);   
}
.left-panel .content{
    transform: translateX(-400%);   
}

.right-panel .image ,.right-panel .content{
 
    transform: translateX(0);  
}
 
.account-text{
    display: none;
}
/*animiation*/
.container.sign-up-mode::before{
    transform: translateX(0);
} 
.container.sign-up-mode .right-panel .image
 {
    transform: translateX(200%); 
}
.container.sign-up-mode .right-panel .content{
    transform: translateX(400%); 
}
.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content{
    transform: translateX(0); 
}
.container.sign-up-mode form.sign-in-form{
    opacity: 0;
}
.container.sign-up-mode form.sign-up-form{
    opacity: 1;
}
.container.sign-up-mode .right-panel{
    pointer-events: none;
}
.container.sign-up-mode .left-panel{
    pointer-events: all;
}
/*Responsive*/
  @media(max-width:779px){
    .container{
        width: 100vw;
        height: 100vh;
    }
                        }
    @media(max-width:635px){
        .container::before{
            display: none;
        }
        form{
            width: 80%;
        }
        form.sign-up-form{
            display: none;
        }
        .container.sign-up-mode2 form.sign-up-form{
            display: flex;
            opacity: 1;
        }
        .container.sign-up-mode2 form.sign-in-form{
            display: none;
        }
        .panels-container{
            display: none;
        }
        .account-text{
            display: initial;
            margin-top: 30px;
        }
    }
    @media(max-width:320px){
        form{
            width: 90%;
        }
    }

/*
.title, form, p, a{
    color: white;
}
.title{
    text-align: center;
    
    padding: 50px;
}

form{
    text-align: center;
  
}

.button{
    margin: 40px;
    width: 90px;
    padding: 5px;
    margin-bottom: 10px;
    color: white;
    background-color: transparent;
    
}

p{
    
    text-align: center;
    display: flex;
    justify-content: center;

}

/* footer {
    position: absolute;
    bottom: 0px;
    color: white;
    width: 100%;
    text-align: center;
    
} */
/*
a{
    text-decoration: none;
}

.signUpLink{
    display: inline-block;
    padding-left: 10px;
}
*/